###################### Django env variables ######################
LOGGING_LEVEL=
LOGGER_NAME=

DEBUG=

SECRET_KEY=

DJANGO_ALLOWED_HOSTS=

###################### MCQ test env variables ######################
MCQ_TEST_MONGO_DB_HOST=
MCQ_TEST_MONGO_DB_PORT=
MCQ_TEST_MONGO_DB_NAME=
MCQ_TEST_SERVER_PORT=

###################### Scoring env variables ######################
SCORING_MONGO_DB_HOST=
SCORING_MONGO_DB_PORT=
SCORING_MONGO_DB_NAME=
SCORING_SERVER_PORT=


###################### Kafka env variables ######################
KAFKA_PORT_INTERNAL_1=
KAFKA_PORT_INTERNAL_2=
KAFKA_PORT_INTERNAL_3=

# KAFKA BROKERS
KAFKA_BROKERS=
CONFLUENT_KAFKA_BROKERS=
KAFKA_TOPIC=

###################### Zookeeper env variables ######################
ZOOKEEPER_HOST_INTERNAL=
ZOOKEEPER_HOST_EXTERNAL=
ZOOKEEPER_PORT_INTERNAL=