###################### Django env variables ######################
LOGGING_LEVEL=INFO
LOGGER_NAME=REST API

DEBUG=1

SECRET_KEY=SUPER_SECRET_KEY!

DJANGO_ALLOWED_HOSTS=127.0.0.1

###################### MCQ test env variables ######################
MCQ_TEST_MONGO_DB_HOST=mcq-test-mongo-db
MCQ_TEST_MONGO_DB_PORT=27017
MCQ_TEST_MONGO_DB_NAME=mcq-test-db
MCQ_TEST_SERVER_PORT=8000

###################### Scoring env variables ######################
SCORING_MONGO_DB_HOST=scoring-mongo-db
SCORING_MONGO_DB_PORT=27018
SCORING_MONGO_DB_NAME=scoring-db
SCORING_SERVER_PORT=8001


###################### Kafka env variables ######################
KAFKA_PORT_INTERNAL_1=9092
KAFKA_PORT_INTERNAL_2=8082
KAFKA_PORT_INTERNAL_3=8083

# KAFKA BROKERS
KAFKA_BROKERS=kafka://kafka:9092
CONFLUENT_KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=quiz

###################### Zookeeper env variables ######################
ZOOKEEPER_HOST_INTERNAL=http://localhost
ZOOKEEPER_HOST_EXTERNAL=zookeeper
ZOOKEEPER_PORT_INTERNAL=2181